#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 40vw;
    height: 60vh;
}

#board-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border: 0.1em solid #3B4D6F;
    border-radius: 0.8em;
}
