#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 70vh;
    height: 60vh;
}

#board-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 0.3px solid #3B4D6F;
    background-color: #285cc4;
}

.player {
    background-color: #27C42A !important;
}

.computer {
    background-color: #C42771 !important;
}