* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #3B4D6F;
    justify-content: center;
    align-items:center;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
}